/packages/compile/npm/
/packages/compile/node_modules/
/packages/config/npm/
/packages/config/node_modules/
/packages/gulp/npm/
/packages/gulp/node_modules/
/packages/gulp-execute/npm/
/packages/gulp-execute/node_modules/
/packages/gulp-logger/npm/
/packages/gulp-logger/node_modules/
/packages/publish/npm/
/packages/publish/node_modules/
/packages/utils/npm/
/packages/utils/node_modules/
/packages/es-pkg/npm/
/packages/es-pkg/node_modules/
/test/npm/
/test/node_modules/
.idea/
/node_modules